@font-face {
    font-family: 'GilroyBold';
    src: url('../fonts/Gilroy/gilroy-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/gilroy/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/gilroy-light-webfont.woff2') format('woff2'),
    url('../fonts/gilroy/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas_neue_regular';
    src: url('../fonts/Bebas/bebasneue_regular-webfont.woff2') format('woff2'),
    url('../fonts/bebas/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Evogria';
    src: url('../fonts/Evogria/evogria-webfont.woff2') format('woff2'),
    url('../fonts/evogria/evogria-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Evogria';
  src: url('../fonts/Evogria/Evogria.eot?#iefix') format('embedded-opentype'),  url('../fonts/Evogria/Evogria.woff') format('woff'), url('../fonts/Evogria/Evogria.ttf')  format('truetype'), url('../fonts/Evogria/Evogria.svg#Evogria') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/Bebas/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Bebas/BebasNeueRegular.otf')  format('opentype'),
  url('../fonts/Bebas/BebasNeueRegular.woff') format('woff'), url('../fonts/Bebas/BebasNeueRegular.ttf')  format('truetype'), url('../fonts/Bebas/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('../fonts/Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gilroy/Gilroy-Light.otf')  format('opentype'),
  url('../fonts/Gilroy/Gilroy-Light.woff') format('woff'), url('../fonts/Gilroy/Gilroy-Light.ttf')  format('truetype'), url('../fonts/Gilroy/Gilroy-Light.svg#Gilroy-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gilroy/Gilroy-ExtraBold.otf')  format('opentype'),
  url('../fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff'), url('../fonts/Gilroy/Gilroy-ExtraBold.ttf')  format('truetype'), url('../fonts/Gilroy/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}