
@font-face {
  font-family: 'TheanoDidot';
  src: url('/fonts/TheanoDidot-Regular.eot?#iefix') format('embedded-opentype'),  url('/fonts/TheanoDidot-Regular.woff') format('woff'), url('/fonts/TheanoDidot-Regular.ttf')  format('truetype'), url('/fonts/TheanoDidot-Regular.svg#TheanoDidot-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
