body {
	background-color: grey;
}

.wrap {
	position: relative;
	width: 1240px;
	margin: 0 auto;
}

.name {
	text-align: center;
	font-size: 20px;
	color: #FFF;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	position: relative;
	display: block;
}

.points {
	width: 100px;
	height: 100px;
	position: absolute;
	left: 200px;
	top: 50%;
	font-size: 40px;
	margin-top: -50px;
	color: black;
	font-family: sans-serif;
	display: block;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	color: red;
}

.points:after {
	content: 'APPLES';
	display: inline-block;
	position: absolute;
	top: 0;
	left: 20px;
	color: #000;
	font-size: 15px;
	font-weight: bold;
}

#gameArea {
	margin: 0 auto;
	width: 600px;
	height: 600px;
	background-color: linen;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	/* padding: 20px; */
	position: relative;
}

.snakeBodyElement {
	background-color: deeppink;
	width: 20px;
	height: 20px;
	position: absolute;
}

.snakeBodyElement:nth-child(29) {
	background-color: darkmagenta;
}

.snakeBodyElement:nth-child(29):after {
	content: ".";
	color: #FFF;
	position: absolute;
	right: 7px;
	top: -15px;
	font-size: 30px;


}


.gameOver {
	text-align: center;
	font-size: 0;
	vertical-align: middle;
	z-index: 2;
}

.visible {
	display: block;
	font-size: 100px;
	transition: all 0.5s;
	color: red;
	font-family: sans-serif;
	font-size: 95px;
}

.targets {
	width: 20px;
	height: 20px;
	position: absolute;
	background-image: url(apple2.png);
	background-repeat: no-repeat;
	background-position: center;
}
